<div class="modal fade" id="modal_new_board" tabindex="-1" role="dialog" aria-labelledby="modal_new_board" aria-hidden="true">
  <div class="modal-dialog modal-ml" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <%= t 'action.create', :value => (t 'controller.contact')%>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag({controller: "boards", action: "create"}, method: "post") do %>
          <div class="form-row">
            <div class="form-group">
              <small class="margin01"><%= t "field.title"%></small>
              <span>
                <%= text_field_tag :title , nil ,:maxlength => 20, class: 'form-control' ,:required => true %>
              </span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <small class="margin01"><%= t "field.description"%></small>
              <span>
                <%= text_area_tag :description , nil,rows: 2, cols: 50,:maxlength => 75, class: 'form-control' %>
              </span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
                <%=button_tag (t 'field.save'),class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
