<div class="boards-page-board-section mod-no-sidebar">
  <div class="boards-page-board-section-header">
    <div class="boards-page-board-section-header-icon">
      <span class="icon-lg icon-member"></span>
    </div>
    <h3 class="boards-page-board-section-header-name"><%= (t 'messages.project.index') %></h3>
  </div>
  <ul class="boards-page-board-section-list">
    <% @boards.each do |board| %>
    <li class="boards-page-board-section-list-item">
      <a class="board-tile" href="<%=board_path(board)%>">
        <span class="board-tile-fade"></span>
        <div class="board-tile-details is-badged">
          <div class="board-tile-details-name">
            <%= board.title %>
          </div>
          <p><%= board.description %></p>
        </div>
      </a>
    </li>
    <% end %>
    <li class="boards-page-board-section-list-item">
      <a data-toggle="modal" data-target="#modal_board">
        <div class="board-tile mod-add">
          <span class="board-tile-fade"></span>
          <div class="board-tile-details-name">
            <%= link_to (t 'messages.project.add', :value => (t 'controller.board')), boards_path %>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
